#fox-showing {
  display: none;
}

.clickable {
  color: blue;
}
#baby-fox2 {
  display:none;
}

.pic2{
  color: red;
}

.grey-background {
  background-color: grey;
}
.buttons {
  margin-top: 10px;
}
.blue-background {
  background-color: #AEEEEE;
}
